/* Footer start */
.footer {
    height: 1080px;
    background: #171717;
    color: white;
    position: relative;
  }
  .footer_ellipse {
    position: absolute;
    display: block;
  }
  .footer_ellipse-1 {
    top: 70px;
    left: 330px;
    z-index: 5;
  }
  .footer_ellipse-2 {
    bottom: 355px;
    left: 250px;
  }
  .footer_ellipse-3 {
    top: 30px;
    right: 210px;
  }
  .footer_ellipse-4 {
    bottom: 560px;
    right: 285px;
    z-index: 5;
  }
  .footer_wrapper {
    max-width: 954px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 166px;
  }
  .footer_contacts {
    position: relative;
    z-index: 2;
    background: #171717;
  }
  .contacts_form {
    display: flex;
    border: 1px solid #ff005c;
    box-shadow: 0px 0px 21px 2px #ff005c;
    height: 476px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    background-color: black;
  }
  .form_desc {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
  }
  .form_desc p {
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff7a;
  }
  .form_desc p:first-child {
    margin-bottom: 4px;
  }
  .form_desc_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 163px;
    margin-bottom: 24px;
  }
  .search_form_field {
    border: 0;
    background: #000;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    width: 302px;
    margin-right: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.48);
    padding-bottom: 16px;
    margin-bottom: 40px;
  }
  input:focus {
    outline: none;
    background: #000;
  }
  .submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 56px;
    width: 176px;
    background-color: #000;
    border: 2px solid #ff005c;
    border-radius: 53px;
    color: #ff005c;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    font-family: "Montserrat";
    cursor: pointer;
  }
  .contacts_nav_wrapp {
    display: flex;
    justify-content: space-between;
  }
  .footer_social_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .contacts_nav_serv ul li,
  .contacts_nav_soc ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 16px;
  }
  
  .contacts_nav ul li,
  .contacts_nav_serv ul li:first-child {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer_social_wrap {
    display: flex;
  }
  .contacts_nav_wrapp a {
    text-decoration: none;
    color: white;
  }
  .contacts_nav_soc_mob {
    display: none;
  }
  input {
    outline: none;
}
  /* Footer end */
  @media screen and (max-width: 1280px) {
    .footer_ellipse-4 {
      display: none;
    }
    .footer_ellipse-1 {
      z-index: 0;
    }
  }
  @media screen and (max-width: 1055px) {
    .footer_ellipse-1 {
      display: none;
    }
    .tarif {
      padding-bottom: 20px;
      height: 100%;
    }
    .prom_slide_wrap {
      width: auto;
    }
    .prom_card_h2 {
      width: auto;
    }
    .seo_intro_card h3 {
      width: auto;
    }
  }
  @media screen and (max-width: 1640px) {
    .footer_ellipse-4,
    .footer_ellipse-1 {
      z-index: 1;
    }
  }
  @media screen and (max-width: 1000px) {
    .form_desc_inputs {
      flex-direction: column;
      margin-left: 10px;
    }
    .contacts_form {
      height: auto;
    }
  }
  @media screen and (max-width: 640px) {
    .footer {
        height: 100%;
      }
      .footer_wrapper {
        padding: 80px 12px 40px 12px;
      }
      .form_desc p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
      }
      .form_desc {
        margin-top: 40px;
        margin-bottom: 58px;
      }
      .contacts_form {
        padding-bottom: 40px;
      }
      .search_form_field {
        width: 244px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        color: white;
      }
      .form_desc_inputs {
        margin-left: 30px;
        display: flex;
        justify-content: center;
      }
      .submit_button {
        height: 56px;
        width: 300px;
      }
      .contacts_nav_soc {
        display: none;
      }
      .contacts_nav_soc_mob {
        display: block;
        text-align: center;
        margin-bottom: 80px;
      }
      .footer_social_wrap {
        display: block;
      }
      .contacts_nav_soc_mob nav ul li {
        padding: 10px;
      }
      .contacts_nav_serv ul li {
        font-weight: 400;
        font-size: 16px;
        line-height: 165%;
      }
      .contacts_nav ul li,
      .contacts_nav_serv ul li:first-child {
        font-weight: 600;
        font-size: 16px;
        line-height: 165%;
      }
      .footer_ellipse-1 {
        width: 146px;
        top: 550px;
        z-index: 10;
        left: 285px;
      }
      .footer_ellipse-3 {
        display: none;
      }
      .footer_ellipse-4 {
        width: 146px;
        top: 30px;
        left: -50px;
      }
      .footer_ellipse-2 {
        bottom: 500px;
        left: 210px;
        z-index: 3;
        width: 196px;
        display: none;
      }
      .form_desc_inputs {
        padding-top: 0px;
      }
      .search_form_field {
        margin-bottom: 40px;
        padding-bottom: 16px;
      }
  }