* {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  body,
  p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
  }
  body._lock {
    overflow: hidden;
  }
  .header {
    background: #171717;
    background-size: cover;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 66px;
    padding-bottom: 26px;
  }
  .header_wrapper {
    max-width: 1231px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;
  }
  .header_wrapper::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(
      270deg,
      rgba(96, 96, 96, 0) 0%,
      #676767 49.98%,
      rgba(96, 96, 96, 0) 99.99%
    );
    position: absolute;
    bottom: -26px;
    left: 0;
  }
  .header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
  }
  
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }
  
  .burger__line_first {
    top: 0;
  }
  
  .burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .burger__line_third {
    bottom: 0;
  }
  .header_logo {
    display: flex;
    align-items: center;
  }
  .header_logo-small {
    display: none;
  }
  .header_phone_ico,
  .header__nav-close {
    display: none;
  }
  .logo_desc {
    margin-left: 6px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .header_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .header_item {
    margin-right: 28px;
  }
  .header_soc {
    display: none;
  }
  .header_item a {
    text-decoration: none;
    color: white;
  }
  .header_item:last-child {
    margin-right: 0;
  }
  .intro_social_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .social_item {
    padding: 10px;
  }
  .header_item_serv {
    position: relative;
  }
  .dropdown {
    display: none;
    /* display: block; */
    position: absolute;
    top: 33px;
    left: -90px;
    background: #171717;
    border-radius: 21px;
    z-index: 19;
    padding-top: 25px;
  }
  .dropdown_wd {
    display: none;
    /* display: block; */
    position: absolute;
    top: 26px;
    left: 255px;
    background: #171717;
    border-radius: 21px;
    z-index: 19;
  }
  .dropdown_wd_mob {
    display: none;
  }
  .drop_li_wd_open a span {
    position: absolute;
    padding-left: 10px;
    font-size: 14px;
  }
  .dropdown_list, .dropdown_list_wd {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 273px;
      height: auto;
      justify-content: space-evenly;
      border-radius: 21px;
    border: 1px solid #5F5F5F; 
  }
  .dropdown_list_wd_mob {
    position: absolute;
    background: black;
    height: 500px;
    top: -60px;
    width: 210px;
  }
  .drop_li, .drop_li_wd {
    border-bottom: 1px solid rgba(95, 95, 95, 1);
    width: 210px;
    text-align: center;
    padding: 32px;
  }
  .drop_li_wd {
    padding: 12px;
  }
  .drop_li_wd_mob {
    padding: 32px 0px;
    border-bottom: 1px solid rgba(95, 95, 95, 1);
  }
  .drop_li:last-child {
    border-bottom: none;
  }
  .drop_li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .drop_li_wd a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .header_list .header_item a:hover {
    font-weight: 600;
  }
  .main_lev:active, .main_lev:focus, .main_lev:hover {
    border: 1px solid #626262;
    border-radius: 21px;
    /* padding: 4px 14px; */
  }
  .main_lev {
    border: 1px solid transparent;
    border-radius: 21px;
    padding: 10px 14px;
  }
  .header_item_serv:hover .dropdown, 
  .header_item_serv:active .dropdown, 
  .header_item_serv:focus .dropdown {
    display: block;
  }
  .dropdown_mobile {
    display: none;
  }
  .drop_li_wd_open:hover .dropdown_wd {
    display: block;
  }
  .drop_li_title {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
/* Media ____________________________________________________________________________ */
  @media screen and (max-width: 1055px) {
    .header {
      padding-top: 40px;
    }
    .header__burger {
      display: block;
      cursor: pointer;
    }
    .header_soc {
      display: block;
       position: relative;
      bottom: -166px;
      left: 0px;
    }
    .intro_social_wrap {
      position: relative;
    }
    .header__nav-close {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 40px;
      left: 20px;
      z-index: 11;
      cursor: pointer;
    }
    .header_list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: column;
      align-content: center;
      gap: 64px;
    }
    .header_item a {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    .header_item {
      margin-right: 0;
      text-align: center;
    }
    .header_nav {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      z-index: 10;
      padding-top: 200px;
      transform: translateX(100%);
      transition: 0.2s all linear;
    }
    .header__nav_active {
      transform: translateX(0);
    }
    .header__nav-close {
      display: block;
    }
    .header_phone {
      display: none;
    }
    .header_phone_ico {
      display: block;
    }
    .logo_desc {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .header_logo {
      display: none;
    }
    .header_logo-small {
      display: block;
    }
    .header_wrapper::after {
      display: none;
    }
    .header_item_serv:hover .dropdown, 
    .header_item_serv:active .dropdown, 
    .header_item_serv:focus .dropdown{
      display: none;
    }
    .dropdown_open {
      display: block;
      z-index: 99;
      transform: translateX(0);
    }
    .dropdown_mobile {
      height: 100%;
      position: absolute;
      top: -255px;
      left: -20px;
      background-color: #000;
      z-index: 99;
    }
    .drop_li_open {
      width: 210px;
      border-bottom: 1px solid #5F5F5F;
      padding-bottom: 16px;
    }
    .header_list .header_item a:hover {
      font-weight: 600;
  }
    .dropdown_list_open {
      display: flex;
      flex-direction: column;
      gap: 90px;
      background: black;
      height: 600px;
    }
    .header__mob-close {
      width: 200px;
      cursor: pointer;
      z-index: 999;
      position: absolute;
      top: -155px;
      left: -85px;
      background: black;
      text-align: left;
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 640px) {
    .header {
      padding-top: 40px;
    }
    .header__burger {
      display: block;
      cursor: pointer;
    }
    .header_soc {
      display: block;
       position: relative;
      bottom: -166px;
      left: 0px;
    }
    .header__nav-close {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 40px;
      left: 20px;
      z-index: 11;
      cursor: pointer;
    }
    .header_list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: column;
      align-content: center;
      gap: 64px;
    }
    .header_item {
      margin-right: 0;
      text-align: center;
    }
    .header_nav {
      width: 100%;
      height: -webkit-fill-available;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      z-index: 10;
      padding-top: 200px;
      transform: translateX(100%);
      transition: 0.2s all linear;
      overflow: auto;
    }
    .header__nav_active {
      transform: translateX(0);
    }
    .header__nav-close {
      display: block;
    }
    .header_phone {
      display: none;
    }
    .header_phone_ico {
      display: block;
    }
    .logo_desc {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .header_logo img {
      width: 28px;
    }
    .header_wrapper::after {
      display: none;
    }
  }