* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body, p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}
.header {
  background: #000;
  background-size: cover;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 66px;
  padding-bottom: 26px;
}
.header_wrapper {
  max-width: 1231px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_wrapper::after{
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, rgba(96, 96, 96, 0) 0%, #676767 49.98%, rgba(96, 96, 96, 0) 99.99%);
  position: absolute;
  bottom: -26px;
  left: 0;
}
.header_logo {
  display: flex;
  align-items: center;
}
.logo_desc {
  margin-left: 6px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}
.header_item{
  margin-right: 44px;
}
.header_item a {
  text-decoration: none;
  color: white;
}
.header_item:last-child{
  margin-right: 0;
}
/* Intro start */
.main {
  width: 100%;
}
.intro {
  height: 940px;
  background: #000;
  width: 100%;
  margin: 0 auto;
  padding-top: 221px;
  
}
.wrapper_intro{
  max-width: 1262px;
  height: 940px;
  margin: 0 auto;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro_title {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  max-width: 939px;
  margin-bottom: 64px;
  padding-top: 199px;
  z-index: 1;
}
.intro_title_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 72px;
  width: 265px;
  background-color: #000;
  border: 2px solid #FFFFFF;
  border-radius: 53px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
  z-index: 1;
}
.img_one {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.img_two {
  display: block;
  position: absolute;
  top: 0;
  left: 370px;
}
.img_three {
  display: block;
  position: absolute;
  bottom: 335px;
  right: -30px;
}
.img_four {
  display: block;
  position: absolute;
  bottom: 280px;
  right: 215px;
}
.intro_social_wrap {
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
}
.intro_social_list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.social_item {
  padding: 10px;
}
/* Intro end */
/* About_us_prev start */
.about_us_prev {
  height: 347px;
  background: url(/img/crop-woman-using-laptop-at-table.png) no-repeat center;
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.wrapper_prew {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
}
.prew_cards {
  position: relative;
  display: grid;
  padding-top: 120px;
  grid-template-columns: repeat(4, 1fr);
}
.prew_card {
  display: grid;
  justify-content: space-between;
  grid-column: span 1;
  border-left: 2px solid #FF005C;
  padding-left: 8px;
}
.prew_card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}
.prew_card_text_number {

  font-size: 48px;
  font-weight: 100;
  line-height: 59px;
  color: white;
}
/* About_us_prev end */
/* About_us_short start */
.about_us_short {
  height: 733px;
  background: white;
}
.wrapper_short {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.short_card {
  display: flex;
  padding-top: 120px;
  
}
.short_card_desc {
  position: absolute;
  z-index: 1;
}
.short_img {
  position: absolute;
  top: 165px;
  right: 28px;
}
.short_card_desc h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #FF005C;
  margin-bottom: 40px;
}
.short_card_desc h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  width: 490px;
  margin-bottom: 40px;
}
.short_card_desc p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  width: 340px;
  margin-bottom: 24px;
}
/* About_us_short end */
/* Direction star */
.direction {
  height: 1080px;
  background-color: #DFDFDF;
  ;
}
.direction_wrapper {
  max-width: 954px;
  margin: 0 auto;
  position: relative;
  padding-top: 120px;
}
.direction_card_desc h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #FF005C;
  margin-bottom: 40px;
}
.direction_cards img {
  width: 28px;
  margin-bottom: 53px;
}
.direction_card_desc h3{
  margin-bottom: 40px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.direction_card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  
}
.direction_cards {
  border-radius: 4px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 302px;
}
.direction_cards-2 {
  background: url(/img/direction-pic-2.png) no-repeat center;
}
.direction_cards-4 {
  background: url(/img/direction-pic-4.png) no-repeat center;
}
.direction_cards-6 {
  background: url(/img/direction-pic-6.png) no-repeat center;
}
.direction_cards h3 {
  margin-bottom: 4px;
}
.direction_cards a {
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  color: white;
}
.even {
  align-content: center;
  justify-content: center;
}
.even h2 {
  font-size: 48px;
  font-weight: 100;
  line-height: 59px;
  letter-spacing: 0em;
  color: black;
}
.not_even{
  background: #000;
  color: white;
  padding-left: 16px;
  padding-top: 21px;
}
.not_even h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.not_even p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.not_even a {
  margin-bottom: 16px;
}
/* Direction end */
/* Services start */
.services {
  height: 1080px;
  background: white;
  max-width: 1920px;
}
.services_wrapper {
  max-width: 954px;
  margin: 0 auto;
  position: relative;
}
.services_wrapper-h2 {
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
color: #FF005C;
padding-top: 120px;
margin-bottom: 40px;
}
.services_wrapper-h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  width: 667px;
  margin-bottom: 40px;
}
.services_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: 302px;
  gap: 24px;
}
.services_card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 11px 0px #6B6B6B40;
}
.imgs {
  padding-top: 12px;
  padding-bottom: 16px;
}
.services_card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 8px;
}
.services_card h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 20px;
}
.services_card a {
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: auto;
  margin-bottom: 12px;
}
.ellipse {
  height: 302px;
  width: 302px;
  padding: 0;
}
.services_card:last-child {
  box-shadow: none;
}
/* Services end */
/* Offers start */
.offers {
  height: 1080px;
  background-color: #000;
  color: white;
}
.offers_wrapper {
  position: relative;
}
.offers_ellipse {
  position: absolute;
}
.offers_ellipse-1 {
  top: 330px;
  left: 260px;
}
.offers_ellipse-2 {
  top: 110px;
  right: 300px;
}
.offers_ellipse-3 {
  bottom: -60px;
  right: 330px;
  z-index: 3;
}
.offers_wrapper_content {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 120px;
  
}
.offers_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 648px;
  gap: 16px;

}
.offers_cards {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 68px;
  border: 1px solid #FF005C;
  z-index: 2;
  background-color: #000;
}
.offers_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 45px;
  width: 140px;
  background-color: #000;
  border: 2px solid #FF005C;
  border-radius: 53px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FF005C;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 30px;
}
.offers_wrapper h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #FF005C;
  margin-bottom: 40px;
}
.offers_wrapper h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 40px;
}
.offers_cards_desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 16px;
}
.offers_cards_price {
  font-size: 48px;
  font-weight: 100;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 32px;
}
.offers_cards li {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  margin-bottom: 4px;
}
/* Offers end */
/* Reviews start */
.review {
  height: 1080px;
  background: url(/img/reviews-fone.png) no-repeat center;
  color: white;
  width: 100%;
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.review_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 120px;
  position: relative;
}
.review_wrapper h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #FF005C;
  margin-bottom: 40px;
}
.review_wrapper h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.review_letter {
  position: relative;
}
.review_letter img {
  margin-right: 24px;
  display: block;
  position: absolute;
}
.img_letter_1 {
  top: 0px;
  left: 0px;
}
.img_letter_2 {
  top: 0px;
  right: 60px;
}
.img_letter_3 {
  top: 0px;
  right: -385px;
}
.img_letter_4 {
  top: 0px;
  right: -500px;
}
/* Reviews end */
/* Work process start */
.work_process {
  height: 1080px;
  max-width: 1920px;
  background: white;
}
.work_process_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 120px;
}
.work_process_wrapper h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color:#FF005C;
}
.work_process_wrapper h3 {
  margin-bottom: 40px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  max-width: 628px;
}
.work_process_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: repeat(2, 269px);
  gap: 24px;
}
.work_process_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 11px 0px #6B6B6B40;
  position: relative;
  justify-content: space-around;
}
.work_process_card img{
  padding: 23px 0;
  padding-right: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.work_process_card h4 {
  padding-left: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 159px;
  margin-top: 24px;
}
.work_process_card p {
  padding-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 248px;
  margin-bottom: 40px;
}
/* Work process end */
/* Advantages start */
.advantages {
  height: 1080px;
  background: #E0E0E0;
}
.advantages_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 140px;
}
.advantages_wrapper h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #FF005C;
  ;
}
.advantages_wrapper h3 {
  margin-bottom: 40px;
  max-width: 791px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.advantages_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 269px);
  gap: 16px;
}
.advantages_cards_sm {
  grid-column: span 2;
}
.advantages_cards_lg {
  grid-column: span 3;
}
.advantages_cards {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 9px rgba(90, 90, 90, 0.66);
  border-radius: 4px;
  
}
.advantages_cards h4 {
  margin: 35px 0 24px 20px;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #FF005C;

}
.advantages_cards p {
  font-size: 16px;
  font-weight: 400;
  max-width: 306px;
  padding-left: 20px;
  line-height: 165%;
}
.advantages_cards img {
  position: absolute;
}
/* Advantages end */
/* Portfolio start */
.portfolio {
  height: 1080px;
  background: white;
  color: black;
}
.portfolio_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
}
.h3_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.portfolio_desc h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color:#FF005C;
  margin-bottom: 40px;
}
.h3_wrap h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  max-width: 606px;
}
.h3_wrap a {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  color: #000;
}
.portfolio_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: repeat(2, 273px);
  gap: 24px;
}
.portfolio_card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.portfolio_card h4 {
  max-width: 198px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 32px;
}
.portfolio_card-1 {
  background: url(/img/portfolio-1.png) no-repeat center;
}
.portfolio_card-2 {
  background: url(/img/portfolio-2.png) no-repeat center;
}
.portfolio_card-3 {
  background: url(/img/portfolio-3.png) no-repeat center;
}
.portfolio_card-4 {
  background: url(/img/portfolio-4.png) no-repeat center;
}
.portfolio_card-5 {
  background: url(/img/portfolio-5.png) no-repeat center;
}
.portfolio_card-6 {
  background: url(/img/portfolio-6.png) no-repeat center;
}
.portfolio_card-7 {
  background: url(/img/portfolio-7.png) no-repeat center;
}
.portfolio_card-8 {
  background: url(/img/portfolio-8.png) no-repeat center;
}
.card_black h4{
  color: white;
}
.card_hide {
  display: none;
}
/* Portfolio end */
/* Footer start */
.footer {
  height: 1080px;
  background: #000;
  color: white;
  position: relative;
}
.footer_ellipse {
  position: absolute;
  display: block;
}
.footer_ellipse-1 {
  top: 70px;
  left: 330px;
  z-index: 5;
}
.footer_ellipse-2 {
  bottom: 355px;
  left: 250px;
}
.footer_ellipse-3 {
  top: 30px;
  right: 210px;
}
.footer_ellipse-4 {
  bottom: 560px;
  right: 285px;
  z-index: 5;
}
.footer_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 166px;
}
.footer_contacts {
  position: relative;
  z-index: 2;
  background: #000;
}
.contacts_form {
  display: flex;
  border: 1px solid #FF005C;
  box-shadow: 0px 0px 21px 2px #FF005C;
  height: 476px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.form_desc {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}
.form_desc p {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-align: center;
  color:#FFFFFF7A;
  ;
}
.form_desc p:first-child {
  margin-bottom: 4px;
}
.form_desc_inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 163px;
  margin-bottom: 24px;
}
.search_form_field {
  border: 0;
  background: #000;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 302px;
  margin-right: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.48);
  padding-bottom: 16px;
  margin-bottom: 40px;
}
input:focus {
  outline: none;
  background: #000;
}
.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 56px;
  width: 176px;
  background-color: #000;
  border: 2px solid #FF005C;
  border-radius: 53px;
  color: #FF005C;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: 'Montserrat';
  cursor: pointer;
}
.contacts_nav_wrapp {
  display: flex;
  justify-content: space-between;
}
.footer_social_list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.contacts_nav_serv ul li, .contacts_nav_soc ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  margin-bottom: 16px;
}

.contacts_nav ul li, .contacts_nav_serv ul li:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#FFFFFF;
  margin-bottom: 16px;
}
.footer_social_wrap {
  display: flex;
}
.contacts_nav_wrapp a {
  text-decoration: none;
  color: white;
}
/* Footer end */