* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body,
p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}
.header {
  background: #171717;
  background-size: cover;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 66px;
  padding-bottom: 26px;
}
.header_wrapper {
  max-width: 1231px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
}
.header_wrapper::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: linear-gradient(
    270deg,
    rgba(96, 96, 96, 0) 0%,
    #676767 49.98%,
    rgba(96, 96, 96, 0) 99.99%
  );
  position: absolute;
  bottom: -26px;
  left: 0;
}
.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_phone_ico,
.header__nav-close {
  display: none;
}
.logo_desc {
  margin-left: 6px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header_item {
  margin-right: 44px;
}
.header_soc {
  display: none;
}
.header_item a {
  text-decoration: none;
  color: white;
}
.header_item:last-child {
  margin-right: 0;
}
/* Intro start */
.main {
  width: 100%;
}
.intro {
  height: 940px;
  background: #171717;
  width: 100%;
  margin: 0 auto;
  padding-top: 221px;
}
.wrapper_intro {
  max-width: 1262px;
  height: 940px;
  margin: 0 auto;
  color: white;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro_title {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  max-width: 939px;
  margin-bottom: 64px;
  padding-top: 199px;
  z-index: 1;
}
.intro_title_mob {
  z-index: 9;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54px;
  display: none;
}
.title_mob-1 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 165%;
}
.title_mob-2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 165%;
}
.intro_title_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 72px;
  width: 265px;
  background-color: #000;
  border: 2px solid #ffffff;
  border-radius: 53px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: white;
  z-index: 1;
}
.intro_title_button:hover,
.intro_title_button:focus,
.intro_title_button:active {
  background-color: white;
  color: #000;
}
.img_one {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.img_two {
  display: block;
  position: absolute;
  top: 0;
  left: 370px;
}
.img_three {
  display: block;
  position: absolute;
  bottom: 335px;
  right: -30px;
}
.img_four {
  display: block;
  position: absolute;
  bottom: 280px;
  right: 215px;
}
.intro_social_wrap {
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
}
.intro_social_list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.social_item {
  padding: 10px;
}
/* Intro end */
/* About_us_prev start */
.about_us_prev {
  height: 347px;
  background: url(/img/crop-woman-using-laptop-at-table.png) no-repeat center;
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.wrapper_prew {
  max-width: 980px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}
.prew_cards {
  position: relative;
  display: grid;
  padding-top: 120px;
  grid-template-columns: repeat(4, 1fr);
}
.prew_card {
  display: grid;
  justify-content: space-between;
  grid-column: span 1;
  border-left: 2px solid #ff005c;
  padding-left: 8px;
}
.prew_card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}
.prew_card_text_number {
  font-size: 48px;
  font-weight: 100;
  line-height: 59px;
  color: white;
}
/* About_us_prev end */
/* About_us_short start */
.about_us_short {
  height: 733px;
  background: white;
}
.wrapper_short {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.short_card {
  display: flex;
  padding-top: 120px;
}
.short_card_desc {
  position: absolute;
  z-index: 1;
}
.short_img {
  position: absolute;
  top: 165px;
  right: 28px;
}
.short-img-mobile {
  display: none;
}
.short_card_desc h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ff005c;
  margin-bottom: 40px;
}
.short_card_desc h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  width: 490px;
  margin-bottom: 40px;
}
.short_card_desc p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  width: 340px;
  margin-bottom: 24px;
}
/* About_us_short end */
/* Direction star */
.direction {
  height: 1080px;
  background-color: #dfdfdf;
}
.direction_wrapper {
  max-width: 954px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  padding-top: 120px;
}
.h3_mobile {
  display: none;
}
.direction_card_desc h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ff005c;
}
.direction_cards img {
  width: 28px;
  margin-bottom: 53px;
}
/* .direction_cards img:hover {
  position: absolute;
  width: 150px;
  margin-bottom: 53px;
} */
.direction_card_desc h3 {
  margin-bottom: 40px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.direction_card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}
.direction_cards {
  border-radius: 4px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 302px;
}
.direction_cards-2 {
  background: url(/img/direction-pic-2-col.png) no-repeat center;
  filter: grayscale(1);
}
.direction_cards-2:hover {
  filter: grayscale(0);
}
.direction_cards-4 {
  background: url(/img/direction-pic-4-col.png) no-repeat center;
  filter: grayscale(1);
}
.direction_cards-4:hover {
  filter: grayscale(0);
}
.direction_cards-6 {
  background: url(/img/direction-pic-6-col.png) no-repeat center;
  filter: grayscale(1);
}
.direction_cards-6:hover {
  filter: grayscale(0);
}
.direction_cards h3 {
  margin-bottom: 4px;
}
.direction_cards a {
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  color: white;
}
.even {
  align-content: center;
  justify-content: center;
  background-size: cover;
}
.even h2 {
  font-size: 48px;
  font-weight: 100;
  line-height: 59px;
  letter-spacing: 0em;
  color: black;
}
.not_even {
  background: #171717;
  color: white;
  padding-left: 16px;
  padding-top: 21px;
}
.not_even h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.not_even p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.not_even a {
  margin-bottom: 16px;
}
/* Direction end */
/* Services start */
.services {
  height: 1080px;
  background: white;
  max-width: 1920px;
}
.services_wrapper {
  max-width: 954px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.services_wrapper-h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ff005c;
  padding-top: 120px;
  margin-bottom: 40px;
}
.services_wrapper-h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  width: 667px;
  margin-bottom: 40px;
}
.services_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: 302px;
  gap: 24px;
}
.services_card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 11px 0px #6b6b6b40;
}
.services_card:hover {
  border: 1px solid red;
  border-radius: 4px;
}
.services_card:last-child:hover {
  border: none;
}
.imgs {
  padding-top: 12px;
  padding-bottom: 16px;
}
.services_card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 8px;
}
.services_card h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 20px;
}
.services_card a {
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: auto;
  margin-bottom: 12px;
}
.ellipse {
  height: 302px;
  width: 302px;
  padding: 0;
}
.services_card:last-child {
  box-shadow: none;
}
/* Services end */
/* Popup start */
.popup_form {
  height: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #000; */
  z-index: 10;
  transform: translateY(100%);
  transition: 0.2s all linear;
}
.popup_form_active {
  transform: translateY(0);
}
.form_desc_inputs-p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 163px;
  margin-bottom: 24px;
}
.search_form_field-p {
  border: 0;
  background: #000;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  width: 302px;
  margin-right: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.48);
  padding-bottom: 16px;
  margin-bottom: 40px;
}
.popup_form_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding: 200px 20px;
  position: relative;
}
.popup_form-close {
  position: absolute;
  top: 250px;
  right: 70px;
}
.contacts_form-p {
  background-color: #000;
  display: flex;
  border: 1px solid #ff005c;
  /* box-shadow: 0px 0px 21px 2px #FF005C; */
  height: 476px;
  flex-direction: column;
  align-items: center;
}
/* Popup end */
/* Offers start */
.offers {
  height: 1080px;
  background-color: #171717;
  color: white;
}
.offers_wrapper {
  position: relative;
}
.offers_ellipse {
  position: absolute;
}
.offers_ellipse-1 {
  top: 330px;
  left: 260px;
}
.offers_ellipse-2 {
  top: 110px;
  right: 300px;
}
.offers_ellipse-3 {
  bottom: -60px;
  right: 330px;
  z-index: 3;
}
.offers_ellipse-4 {
  display: none;
}
.offers_wrapper_content {
  max-width: 954px;
  margin: 0 auto;
  padding-top: 120px;
}
.offers_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 648px;
  gap: 16px;
}
.offers_cards {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 68px;
  border: 1px solid #ff005c;
  z-index: 2;
  background-color: #000;
}
.offers_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 45px;
  width: 140px;
  background-color: #000;
  border: 2px solid #ff005c;
  border-radius: 53px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ff005c;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 30px;
}
.offers_button:hover,
.offers_button:active,
.offers_button:focus,
.submit_button:hover,
.submit_button:active,
.submit_button:focus {
  background-color: #ff005c;
  color: black;
}
.offers_button-mob {
  display: none;
}
.offers_wrapper h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff005c;
  margin-bottom: 40px;
  position: relative;
}
.offers_wrapper h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 40px;
  position: relative;
}
.offers_cards_desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 16px;
}
.offers_cards_price {
  font-size: 48px;
  font-weight: 100;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 32px;
}
.offers_cards li {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  margin-bottom: 4px;
}
/* Offers end */
/* Reviews start */
.review {
  height: 1080px;
  background: url(/img/reviews-fone.png) no-repeat center;
  color: white;
  width: 100%;
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.review_wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 120px;
  position: relative;
}
.review_wrapper h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ff005c;
  margin-bottom: 40px;
  margin-left: 170px;
}
.review_wrapper h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  margin-left: 170px;
}

/* Reviews end */
/* Work process start */
.work_process {
  height: 1080px;
  max-width: 1920px;
  background: white;
}
.work_process_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 120px;
}
.work_process_wrapper h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #ff005c;
}
.work_process_wrapper h3 {
  margin-bottom: 40px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  max-width: 628px;
}
.work_process_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: repeat(2, 269px);
  gap: 24px;
}
.work_process_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 11px 0px #6b6b6b40;
  position: relative;
  justify-content: space-around;
}
.work_process_card img {
  padding: 23px 0;
  padding-right: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.work_process_card h4 {
  padding-left: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 159px;
  margin-top: 24px;
}
.work_process_card p {
  padding-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 248px;
  margin-bottom: 40px;
}
/* Work process end */
/* Advantages start */
.advantages {
  height: 1080px;
  background: #e0e0e0;
}
.advantages_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 140px;
}
.advantages_wrapper h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #ff005c;
}
.advantages_wrapper h3 {
  margin-bottom: 40px;
  max-width: 791px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
}
.advantages_card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 269px);
  gap: 16px;
}
.advantages_cards_sm {
  grid-column: span 2;
}
.advantages_cards_lg {
  grid-column: span 3;
}
.advantages_cards {
  display: flex;
  position: relative;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 9px rgba(90, 90, 90, 0.66);
  border-radius: 4px;
}
.advantages_cards h4 {
  margin: 35px 0 24px 20px;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #ff005c;
}
.advantages_cards p {
  font-size: 16px;
  font-weight: 400;
  max-width: 306px;
  padding-left: 20px;
  line-height: 165%;
}
.advantages_cards img {
  position: absolute;
}
/* Advantages end */
/* Portfolio start */
.portfolio {
  height: 1080px;
  background: white;
  color: black;
}
.portfolio_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
}
.h3_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio_desc h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #ff005c;
  margin-bottom: 40px;
}
.h3_wrap h3 {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  max-width: 606px;
}
.h3_wrap a {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  color: #000;
}
.portfolio_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: repeat(2, 273px);
  gap: 24px;
}
.portfolio_card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.portfolio_card h4 {
  max-width: 198px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 32px;
}
.portfolio_card-1 {
  background: url(/img/portfolio-1-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-1:hover {
  filter: grayscale(0);
}
.portfolio_card-2 {
  background: url(/img/portfolio-2-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-2:hover {
  filter: grayscale(0);
}
.portfolio_card-3 {
  background: url(/img/portfolio-3-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-3:hover {
  filter: grayscale(0);
}
.portfolio_card-4 {
  background: url(/img/portfolio-4-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-4:hover {
  filter: grayscale(0);
}
.portfolio_card-5 {
  background: url(/img/portfolio-5-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-5:hover {
  filter: grayscale(0);
}
.portfolio_card-6 {
  background: url(/img/portfolio-6-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-6:hover {
  filter: grayscale(0);
}
.portfolio_card-7 {
  background: url(/img/portfolio-7-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-7:hover {
  filter: grayscale(0);
}
.portfolio_card-8 {
  background: url(/img/portfolio-8-mobile.png) no-repeat center;
  filter: grayscale(1);
}
.portfolio_card-8:hover {
  filter: grayscale(0);
}
.card_black h4 {
  color: white;
}
.card_hide {
  display: none;
  background-size: cover;
}
.h3_more-mobile {
  display: none;
}
/* Portfolio end */
/* Footer start */
.footer {
  height: 1080px;
  background: #171717;
  color: white;
  position: relative;
}
.footer_ellipse {
  position: absolute;
  display: block;
}
.footer_ellipse-1 {
  top: 70px;
  left: 330px;
  z-index: 5;
}
.footer_ellipse-2 {
  bottom: 355px;
  left: 250px;
}
.footer_ellipse-3 {
  top: 30px;
  right: 210px;
}
.footer_ellipse-4 {
  bottom: 560px;
  right: 285px;
  z-index: 5;
}
.footer_wrapper {
  max-width: 954px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 166px;
}
.footer_contacts {
  position: relative;
  z-index: 2;
  background: #171717;
}
.contacts_form {
  display: flex;
  border: 1px solid #ff005c;
  box-shadow: 0px 0px 21px 2px #ff005c;
  height: 476px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  background-color: black;
}
.form_desc {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}
.form_desc p {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff7a;
}
.form_desc p:first-child {
  margin-bottom: 4px;
}
.form_desc_inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 163px;
  margin-bottom: 24px;
}
.search_form_field {
  border: 0;
  background: #000;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  width: 302px;
  margin-right: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.48);
  padding-bottom: 16px;
  margin-bottom: 40px;
}
input:focus {
  outline: none;
  background: #000;
}
.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 56px;
  width: 176px;
  background-color: #000;
  border: 2px solid #ff005c;
  border-radius: 53px;
  color: #ff005c;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  font-family: "Montserrat";
  cursor: pointer;
}
.contacts_nav_wrapp {
  display: flex;
  justify-content: space-between;
}
.footer_social_list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.contacts_nav_serv ul li,
.contacts_nav_soc ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  margin-bottom: 16px;
}

.contacts_nav ul li,
.contacts_nav_serv ul li:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer_social_wrap {
  display: flex;
}
.contacts_nav_wrapp a {
  text-decoration: none;
  color: white;
}
.contacts_nav_soc_mob {
  display: none;
}
/* Footer end */
/* Media start */
@media screen and (max-width: 1800px) {
  .offers_ellipse-3 {
    display: none;
  }
}
@media screen and (max-width: 1640px) {
  .footer_ellipse-4,
  .footer_ellipse-1 {
    z-index: 1;
  }
}
@media screen and (max-width: 1000px) {
  .direction_wrapper {
    padding-bottom: 120px;
  }
  .direction {
    height: 100%;
  }
  .direction_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .direction_cards {
    background-size: cover;
  }
  .services {
    height: 100%;
  }
  .services_wrapper {
    padding-bottom: 120px;
  }
  .services_card {
    align-content: center;
  }
  .services_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .services_card-img {
    display: none;
  }
  .offers_card {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
  }
  .offers {
    height: 100%;
    padding-bottom: 120px;
  }
  .img_letter_3 {
    display: none;
  }
  .work_process_cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .work_process_card {
    height: 270px;
  }
  .portfolio {
    height: 100%;
  }
  .portfolio_cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .portfolio_card {
    height: 350px;
    width: 350px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 960px) {
  .wrapper {
    padding: 0 15px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    padding-top: 40px;
  }
  .header__burger {
    display: block;
    cursor: pointer;
  }
  .header_soc {
    display: block;
    position: fixed;
    bottom: 200px;
    left: 25%;
  }
  .header__nav-close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 11;
    cursor: pointer;
  }
  .header_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    align-content: center;
    gap: 64px;
  }
  .header_item a {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .header_item {
    margin-right: 0;
    text-align: center;
  }
  .header_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding-top: 200px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .header__nav_active {
    transform: translateX(0);
  }
  .header__nav-close {
    display: block;
  }
  .header_phone {
    display: none;
  }
  .header_phone_ico {
    display: block;
  }
  .logo_desc {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .header_logo img {
    width: 28px;
  }
  .header_wrapper::after {
    display: none;
  }
  /* ------------------------------------------------------------ */
  .intro {
    height: 800px;
    padding-top: 0px;
  }
  .wrapper_intro {
    height: 800px;
  }
  .intro_title {
    display: none;
  }
  .intro_title_button {
    position: absolute;
    bottom: 110px;
  }
  .intro_title_mob {
    display: block;
    top: 245px;
  }
  .intro_social_wrap {
    padding-bottom: 25px;
  }
  .img_one {
    left: -100px;
    top: 510px;
    width: 181px;
  }
  .img_four {
    right: 25px;
    top: 670px;
    width: 64px;
    z-index: 2;
  }
  .img_three {
    width: 181px;
    right: -20px;
    top: 95px;
  }
  .img_two {
    width: 107px;
    top: 320px;
    left: 280px;
  }
  /* -------------------------------------------------------------- */
  .about_us_prev {
    height: 100%;
  }
  .prew_cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .prew_card {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    margin-bottom: 16px;
  }
  .prew_card_text {
    width: 150px;
  }
  .prew_card_text_number {
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 44px;
  }
  /* -------------------------------------------------------------- */
  .short_img {
    opacity: 0;
  }
  .short_card {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .short-img-mobile {
    margin-bottom: 20px;
  }
  .wrapper_short {
    padding-left: 12px;
  }
  .about_us_short {
    margin-bottom: 80px;
  }
  .short-img-mobile {
    display: block;
  }
  .short_card_desc {
    display: flex;
    position: unset;
    flex-direction: column;
    max-width: 320px;
  }
  .short_card_desc h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .short_card_desc h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    max-width: 335px;
    margin-bottom: 20px;
  }
  .short_card_desc p {
    max-width: 336px;
  }
  /* -------------------------------------------------------------- */
  .direction_wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 10px;
  }
  .direction_cards p,
  .direction_cards a {
    display: none;
  }
  .direction_cards {
    flex-basis: auto;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    position: relative;
    align-content: center;
  }
  .not_even {
    padding: 0px;
  }
  .even h2 {
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 39px;
  }
  .not_even h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
  }
  .direction_card {
    width: 330px;
    gap: 10px;
  }
  .direction_cards img {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 13px;
    padding-top: 13px;
  }
  .h3_display {
    display: none;
  }
  .h3_mobile {
    display: block;
  }
  .direction_card_desc_h2 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .direction_card_desc h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
  }
  .direction_cards-1 {
    order: -2;
  }
  .direction_cards-2 {
    order: 0;
  }
  .direction_cards-3 {
    order: 3;
  }
  .direction_cards-4 {
    order: -3;
  }
  .direction_cards-5 {
    order: -1;
  }
  .direction_cards-6 {
    order: 2;
  }
  /* -------------------------------------------------------------- */
  .services_wrapper-h2 {
    margin-bottom: 40px;
    padding-top: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .services_wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .services_wrapper-h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    width: 336px;
    margin-bottom: 20px;
  }
  /* ------------------------------------------------------------------- */
  .contacts_form-p {
    border: 1px solid #ff005c;
    box-shadow: 0px 0px 11px rgba(107, 107, 107, 0.25);
    border-radius: 39px;
    height: 564px;
  }
  .form_desc_p {
    display: none;
  }
  .form_desc_inputs-p {
    padding-top: 76px;
    margin-left: 0px;
  }
  .search_form_field-p {
    margin-bottom: 64px;
    padding-bottom: 40px;
    width: 220px;
    margin-left: 40px;
    text-align: center;
    font-size: 16px;
  }
  .popup_form-close img {
    width: 12px;
  }
  .popup_form-close {
    top: 230px;
    right: 65px;
  }
  .submit_button {
    height: 56px;
    width: 280px !important;
  }
  /* -------------------------------------------------------------- */
  .offers_wrapper_content {
    padding-top: 80px;
    padding-left: 12px;
  }
  .offers_wrapper h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    position: relative;
  }
  .offers_wrapper h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 20px;
  }
  .offers_cards {
    border-radius: 4px;
    padding: 0 16px;
  }
  .offers_cards_desc {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
    text-align: left;
  }
  .offers_cards_price {
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
  }
  #dots {
    opacity: 0;
  }
  .offers_button-mob {
    display: block;
  }
  .offers_cards ul {
    padding-bottom: 32px;
  }
  #btn,
  #btn_second {
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
  }
  #more,
  #more_second {
    display: none;
  }
  .offers_button {
    height: 55px;
    width: 280px;
  }
  .offers_ellipse-1 {
    display: none;
  }
  .offers_ellipse-2 {
    top: 10px;
    right: -115px;
    width: 197px;
  }
  .offers_ellipse-3 {
    display: block;
    bottom: -80px;
    left: -40px;
    width: 92px;
  }
  .offers_ellipse-4 {
    display: block;
    top: 150px;
    z-index: 3;
    right: 0px;
  }
  /* -------------------------------------------------------------- */
  .review_letter_img img {
    width: 324px;
    /* background-size: contain; */
  }
  .review {
    height: 100%;
    padding-bottom: 80px;
  }
  .img_letter_2 {
    display: none;
  }
  .review_wrapper {
    padding-top: 80px;
    padding-left: 12px;
  }
  .review_wrapper h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 0px;
  }
  .review_wrapper h3 {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .review_wrapper_span {
    opacity: 0;
  }
  .review_wrapper h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
  }
  .review_letter {
    min-width: 0;
  }
  /* -------------------------------------------------------------- */
  .work_process {
    height: 100%;
    padding-bottom: 0px;
  }
  .work_process_wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .work_process_wrapper h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .work_process_wrapper h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
    width: 336px;
  }
  /* -------------------------------------------------------------- */
  .advantages {
    height: 100%;
  }
  .advantages_wrapper {
    padding: 80px 12px;
  }
  .advantages_wrapper h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .advantages_wrapper h3 {
    margin-bottom: 20px;
    width: 337px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
  }
  .advantages_card {
    display: flex;
    flex-direction: column;
  }
  .advantages_cards {
    width: 320px;
    height: 180px;
  }
  .advantages_cards h4 {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
    padding: 24px;
  }
  .advantages_cards p {
    width: 276px;
  }
  /* -------------------------------------------------------------- */
  .portfolio_desc h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .h3_wrap h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    width: 335px;
  }
  .h3_wrap {
    margin-bottom: 20px;
  }
  .portfolio_card {
    padding-bottom: 0px;
    height: 273px;
    width: 336px;
    background-size: cover;
  }
  .portfolio_cards {
    gap: 16px;
  }
  .portfolio_wrapper {
    padding: 80px 12px;
  }
  .portfolio_card-1 {
    background: url(/img/portfolio-1-mobile.png) no-repeat center;
  }
  .portfolio_card-2 {
    background: url(/img/portfolio-2-mobile.png) no-repeat center;
  }
  .portfolio_card-3 {
    background: url(/img/portfolio-3-mobile.png) no-repeat center;
  }
  .portfolio_card-4 {
    background: url(/img/portfolio-4-mobile.png) no-repeat center;
  }
  .portfolio_card-5 {
    background: url(/img/portfolio-5-mobile.png) no-repeat center;
  }
  .portfolio_card-6 {
    background: url(/img/portfolio-6-mobile.png) no-repeat center;
    background-size: cover;
  }
  .portfolio_card-7 {
    background: url(/img/portfolio-7-mobile.png) no-repeat center;
  }
  .portfolio_card-8 {
    background: url(/img/portfolio-8-mobile.png) no-repeat center;
  }
  .portfolio_card h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    max-width: 308px;
  }
  .card_hide,
  .card_hide2 {
    background-size: cover;
  }
  .h3_more {
    display: none;
  }
  .h3_more-mobile {
    display: block;
    text-align: center;
    padding-top: 32px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
  }
  /* -------------------------------------------------------------- */
  .footer {
    height: 100%;
  }
  .footer_wrapper {
    padding: 80px 12px 40px 12px;
  }
  .form_desc p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
  }
  .form_desc {
    margin-top: 40px;
    margin-bottom: 58px;
  }
  .contacts_form {
    padding-bottom: 40px;
  }
  .search_form_field {
    width: 244px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: white;
  }
  .form_desc_inputs {
    margin-left: 30px;
  }
  .submit_button {
    height: 56px;
    width: 300px;
  }
  .contacts_nav_soc {
    display: none;
  }
  .contacts_nav_soc_mob {
    display: block;
    text-align: center;
    margin-bottom: 80px;
  }
  .footer_social_wrap {
    display: block;
  }
  .contacts_nav_soc_mob nav ul li {
    padding: 10px;
  }
  .contacts_nav_serv ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
  }
  .contacts_nav ul li,
  .contacts_nav_serv ul li:first-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
  }
  .footer_ellipse-1 {
    width: 146px;
    top: 550px;
    z-index: 10;
    left: 285px;
  }
  .footer_ellipse-3 {
    display: none;
  }
  .footer_ellipse-4 {
    width: 146px;
    top: 30px;
    left: -50px;
  }
  .footer_ellipse-2 {
    bottom: 500px;
    left: 210px;
    z-index: 3;
    width: 196px;
    display: none;
  }
  .form_desc_inputs {
    padding-top: 0px;
  }
  .search_form_field {
    margin-bottom: 40px;
    padding-bottom: 16px;
  }
}
/* Media end */
