* {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  body,
  p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
  }
  .header {
    background: #171717;
    background-size: cover;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 66px;
    padding-bottom: 26px;
  }
  .header_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;
  }
  .header_wrapper::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(
      270deg,
      rgba(96, 96, 96, 0) 0%,
      #676767 49.98%,
      rgba(96, 96, 96, 0) 99.99%
    );
    position: absolute;
    bottom: -26px;
    left: 0;
  }
  .header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
  }
  
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }
  
  .burger__line_first {
    top: 0;
  }
  
  .burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .burger__line_third {
    bottom: 0;
  }
  .header_logo {
    display: flex;
    align-items: center;
  }
  .header_phone_ico,
  .header__nav-close {
    display: none;
  }
  .logo_desc {
    margin-left: 6px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .header_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .header_item {
    margin-right: 44px;
  }
  .header_soc {
    display: none;
  }
  .header_item a {
    text-decoration: none;
    color: white;
  }
  .header_item:last-child {
    margin-right: 0;
  }
  /* header end */
  /* SEO_intro start */
.seo_intro {
    height: 300px;
    background: black;
    padding-top: 200px;
  }
.seo_intro_wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.seo_intro_info {
    position: absolute;
    color: white;
    top: -160px;
    left: 0px;
    width: 1440px;
    height: 645px;
    z-index: 9;
}
.seo_intro a {
    color: white;
}
.bread_crumbs {
    display: flex;
    margin-bottom: 19px;
}
.bread_crumbs li {
    padding-right: 12px;
}
.bread_crumbs li a {
    text-decoration: none;
}
.seo_intro_card {
    height: 645px;
    background: url('/img/seo-intro-bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
}
.seo_intro_card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seo_intro_card h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 32px;
}
.seo_intro_card h3 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    width: 729px;
    text-align: center;
    margin-bottom: 30px;
}
.seo_intro_but {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 187px;
    height: 72px;
    border: 2px solid #FFFFFF;
    border-radius: 53px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
}
.intro_socials_wrap {
    display: flex;
    align-items: center;
}
.intro_socials_wrap li a {
    padding-right: 12px;
}
  /* SEO_intro end */
  /* Promotion examples start */
.prom_exam {
    height: 1187px;
    background-color: #DFDFDF;
}
.prom_exam_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 67px;
}
.prom_slide_wrap {
    width: 1196px;
    height: 919px;
    box-shadow: 0px 0px 11px rgba(107, 107, 107, 0.25);
    border-radius: 4px;
    background-color: #FFFFFF;
}
.prom_slide_card {
    padding-left: 122px;
}
.prom_slide_card h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FF005C;
    padding-top: 60px;
    margin-bottom: 40px;
}
.slide_card_wrap {
    display: flex;
    gap: 24px;
}
.slide_card_left h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.slide_card_left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    width: 463px;
    margin-bottom: 40px;
}
.slide_card_right_img {
    background: url('../img/prom-pic-1.png') no-repeat center;
    height: 370px;
    background-size: cover;
    width: 464px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.slide_card_right_img h5 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    color: white;
    padding-bottom: 23px;
}
.slide_card_right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    width: 463px;
    margin-bottom: 40px;
}
  /* Promotion examples end */
  /* Promotion start */
  .promotion {
    height: 986px;
}
  .promotion_wrap {
    max-width: 953px;
    margin: 0 auto;
    padding-top: 343px;
}
.prom_card_h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    width: 800px;
    margin-bottom: 40px;
}
.prom_card_wrap {
    display: flex;
    gap: 15px;
}
.prom_card_p {
    font-size: 16px;
    line-height: 165%;
}
.prom_card_img {
    width: 100%;
}
  /* Promotion end */
  /* Footer start */
.footer {
    height: 1080px;
    background: #171717;
    color: white;
    position: relative;
  }
  .footer_ellipse {
    position: absolute;
    display: block;
  }
  .footer_ellipse-1 {
    top: 70px;
    left: 330px;
    z-index: 5;
  }
  .footer_ellipse-2 {
    bottom: 355px;
    left: 250px;
  }
  .footer_ellipse-3 {
    top: 30px;
    right: 210px;
  }
  .footer_ellipse-4 {
    bottom: 560px;
    right: 285px;
    z-index: 5;
  }
  .footer_wrapper {
    max-width: 954px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 166px;
  }
  .footer_contacts {
    position: relative;
    z-index: 2;
    background: #171717;
  }
  .contacts_form {
    display: flex;
    border: 1px solid #ff005c;
    box-shadow: 0px 0px 21px 2px #ff005c;
    height: 476px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    background-color: black;
  }
  .form_desc {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
  }
  .form_desc p {
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff7a;
  }
  .form_desc p:first-child {
    margin-bottom: 4px;
  }
  .form_desc_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 163px;
    margin-bottom: 24px;
  }
  .search_form_field {
    border: 0;
    background: #000;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    width: 302px;
    margin-right: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.48);
    padding-bottom: 16px;
    margin-bottom: 40px;
  }
  input:focus {
    outline: none;
    background: #000;
  }
  .submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 56px;
    width: 176px;
    background-color: #000;
    border: 2px solid #ff005c;
    border-radius: 53px;
    color: #ff005c;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    font-family: "Montserrat";
    cursor: pointer;
  }
  .contacts_nav_wrapp {
    display: flex;
    justify-content: space-between;
  }
  .footer_social_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .contacts_nav_serv ul li,
  .contacts_nav_soc ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 16px;
  }
  
  .contacts_nav ul li,
  .contacts_nav_serv ul li:first-child {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer_social_wrap {
    display: flex;
  }
  .contacts_nav_wrapp a {
    text-decoration: none;
    color: white;
  }
  .contacts_nav_soc_mob {
    display: none;
  }
  /* Footer end */