* {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  body,
  p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
  }
  .header {
    background: #171717;
    background-size: cover;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 66px;
    padding-bottom: 26px;
  }
  .header_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;
  }
  .header_wrapper::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(
      270deg,
      rgba(96, 96, 96, 0) 0%,
      #676767 49.98%,
      rgba(96, 96, 96, 0) 99.99%
    );
    position: absolute;
    bottom: -26px;
    left: 0;
  }
  .header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
  }
  .burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }
  .burger__line_first {
    top: 0;
  }
  .burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .burger__line_third {
    bottom: 0;
  }
  .header_logo {
    display: flex;
    align-items: center;
  }
  .header_phone_ico,
  .header__nav-close {
    display: none;
  }
  .logo_desc {
    margin-left: 6px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .header_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  .header_item {
    margin-right: 44px;
  }
  .header_soc {
    display: none;
  }
  .header_item a {
    text-decoration: none;
    color: white;
  }
  .header_item:last-child {
    margin-right: 0;
  }
  /* header end */
  /* SEO_intro start */
.seo_intro {
    height: 300px;
    background: black;
    padding-top: 200px;
  }
.seo_intro_wrap {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.seo_intro_info {
    position: absolute;
    color: white;
    top: -160px;
    left: 0px;
    width: 1440px;
    height: 645px;
    z-index: 9;
}
.seo_intro a {
    color: white;
}
.bread_crumbs {
    display: flex;
    margin-bottom: 19px;
}
.bread_crumbs li {
    padding-right: 12px;
}
.bread_crumbs li a {
    text-decoration: none;
}
.seo_intro_card {
    height: 645px;
    background: url('/img/seo-intro-bg.png') no-repeat center;
    background-size: cover;
    width: 100%;
}
.seo_intro_card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seo_intro_card h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 32px;
}
.seo_intro_card h3 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    width: 729px;
    text-align: center;
    margin-bottom: 30px;
}
.seo_intro_but {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 187px;
    height: 72px;
    border: 2px solid #FFFFFF;
    border-radius: 53px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
}
.seo_intro_but:hover, .seo_intro_but:focus, .seo_intro_but:active, 
.audit_wrap a:hover, .audit_wrap a:focus, .audit_wrap a:active {
  background-color: white;
  color: #000;
}
.intro_socials_wrap {
    display: flex;
    align-items: center;
}
.intro_socials_wrap li a {
    padding-right: 12px;
}
  /* SEO_intro end */
  /* Promotion examples start */
.prom_exam {
    height: 1187px;
    background-color: #DFDFDF;
}
.prom_exam_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    gap: 67px;
}
.prom_slide_wrap {
    width: 1196px;
    height: 919px;
    box-shadow: 0px 0px 11px rgba(107, 107, 107, 0.25);
    border-radius: 4px;
    background-color: #FFFFFF;
}
.prom_slide_card {
    padding-left: 122px;
}
.prom_slide_card h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FF005C;
    padding-top: 60px;
    margin-bottom: 40px;
}
.slide_card_wrap {
    display: flex;
    gap: 24px;
}
.slide_card_left h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.slide_card_left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    width: 463px;
    margin-bottom: 40px;
}
.slide_card_right_img {
    background: url('../img/prom-pic-1.png') no-repeat center;
    height: 370px;
    background-size: cover;
    width: 464px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.slide_card_right_img h5 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 180%;
    color: white;
    padding-bottom: 23px;
}
.slide_card_right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    width: 463px;
    margin-bottom: 40px;
}
.img-left, .img-right {
  display: none;
}
  /* Promotion examples end */
  /* Promotion start */
  .promotion {
    height: 986px;
}
  .promotion_wrap {
    max-width: 953px;
    margin: 0 auto;
    padding-top: 343px;
}
.prom_card_h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    width: 800px;
    margin-bottom: 40px;
}
.prom_card_wrap {
    display: flex;
    gap: 15px;
}
.prom_card_p {
    font-size: 16px;
    line-height: 165%;
}
.prom_card_img {
    width: 100%;
}
  /* Promotion end */
  /* Seo_Services start */
.seo_services {
  height: 1080px;
  background: white;
  max-width: 1920px;
}
.seo_services_wrapper {
  max-width: 954px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.seo_services_wrapper-h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ff005c;
  padding-top: 120px;
  margin-bottom: 40px;
}
.seo_services_wrapper-h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  text-align: left;
  width: 667px;
  margin-bottom: 40px;
}
.seo_services_cards {
  display: grid;
  grid-template-columns: repeat(3, 302px);
  grid-template-rows: 302px;
  gap: 24px;
}
.seo_services_card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 11px 0px #6b6b6b40;
}
.seo_services_card:hover {
  border: 1px solid red;
  border-radius: 4px;
}
.seo_services_card:last-child:hover {
  border: none;
}
.seo_imgs {
  padding-top: 20px;
  padding-bottom: 32px;
}
.seo_services_card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 8px;
}
.seo_services_card h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0 20px;
}
.seo_services_card a {
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: auto;
  margin-bottom: 12px;
  color: #171717;
}
.seo_ellipse {
  height: 302px;
  width: 302px;
  padding: 0;
}
.seo_services_card:last-child {
  box-shadow: none;
}
/* Seo_Services end */
/* Tarif start */
.tarif {
  height: 979px;
  background-color: #171717;
}
.tarif_wrap {
  max-width: 1440px;
  margin: 0 auto;
}
.tarif_desc {
  max-width: 964px;
  margin: 0 auto;
  padding-top: 120px;
}
.tarif_desc h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FF005C;
  margin-bottom: 40px;
}
.tarif_desc h3 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.tarif_cards {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.tarif_card {
  background: #171717;
  border: 1px solid #FF005C;
  box-shadow: 0px 0px 5px #FF005C;
  border-radius: 4px;
  width: 464px;
  height: 503px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
}
.tarif_cards_desc {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FF005C;
  margin-top: 24px;
  margin-bottom: 8px;
}
.tarif_cards_price {
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.tarif_card ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  color: #FFFFFF;
  list-style-image: url("/img/plus.png");
  margin-left: 46px;
  margin-bottom: 12px;
  margin-right: 20px;
}
.tarif_card ul .all_serv {
  list-style-image: url("/img/dot.png");
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.tarif_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 45px;
  width: 140px;
  background-color: #000;
  border: 2px solid #ff005c;
  border-radius: 53px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ff005c;
  z-index: 1;
  margin: 0 auto;
  margin-top: 40px;
}
.tarif_button:hover, .tarif_button:active, .tarif_button:focus, 
.submit_button:hover, .submit_button:active, .submit_button:focus {
  background-color: #ff005c;
  color: black;
}
.tarif_button_dif {
  margin-top: 67px;
}
/* Tarif end */
/* Audit start */
.audit {
  height: 521px;
  background: url("/img/audit-paralax.png") no-repeat center;
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
.audit_wrap {
  max-width: 1196px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audit_wrap h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 120px;
  margin-bottom: 32px;
}
.audit_wrap p {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.audit_wrap a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 220px;
  height: 72px;
  border: 2px solid #FFFFFF;
  border-radius: 53px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 35px;
  color: white;
}
/* Audit end */
/* Diary start */
.diary {
  height: 1209px;
  background: white;
  height: 100%;
}
.diary_wrap {
  /* max-width: 1440px; */
  margin: 0 auto;
  position: relative;
  height: 1227px;
}
.diary_desc {
  max-width: 964px;
  margin: 0 auto;
  padding-top: 120px;
}
.diary_desc h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FF005C;
  margin-bottom: 40px;
}
.diary_desc h3 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: black;
  margin-bottom: 40px;
}
.diary_cards {
  display: flex;
  align-items: center;
  padding: 16px 12px;
  gap: 27px;
  flex-wrap: nowrap;
  min-width: 0;
}
.diary_cards .diary_card {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(107, 107, 107, 0.25);
  border-radius: 4px;
  width: 464px !important;
  height: 681px;
  position: relative;
}
.diary_wrap .new {
  /* margin: 0 auto; */
  padding-left: 200px;
  /* padding-right: 200px; */
  /* min-width: 0; */
  /* overflow: hidden; */
  /* min-width: 0; */
}
.diary_card_img {
  padding: 16px 12px 32px 12px;
}
.diary_card {
  margin-right: 0px !important;
}
.diary_card h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;
}
.diary_card .diary_button {
  position: absolute;
  /* width: 19px; */
  height: 23px;
  bottom: 22px;
  left: 16px;
  display: flex;
  text-decoration: none;
  color: #171717;
  transform: translateX(calc(-100% + 20px));
  transition: transform .6s;
}
.di_bu_p {
  opacity: 0;
}
.diary_button:hover .di_bu_p {
  opacity: 1;
  transition: 3s;
}
.diary_button:hover {
  transform: translateX(0);
  transition: transform .6s;
}
.diary_button img {
  padding-left: 10px;
}
.diary_card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  color: #171717;
}
.diary_card .diary_card_more {
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.diary_cards .diary_card_last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.diary_pag {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: end;
  gap: 49px;
  position: absolute;
  right: 225px;
  bottom: 174px;
}
.zoom-in {
  width: 46px;
  height: 38px;
}
.diary_card_last:hover .zoom-in{
  width: 112px;
  height: 92px;
}
.diary_card_last:hover {
  background: #EEEEEE;
}
/* Diary end */
/* Questions start */
.questions {
  height: 100%;
  background-color: #DFDFDF;
}
.quest_wrap {
  max-width: 964px;
  margin: 0 auto;
  padding-top: 120px;
}
.quest_wrap h2 {
  font-size: 24px;
  line-height: 29px;
  color: #FF005C;
  margin-bottom: 40px;
}
.quest_wrap h3 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #171717;
  margin-bottom: 40px;
}
.sub_menu_list {
  display: none;
  position: relative;
  left: 0;
  top: 0px;
  padding: 20px 0 40px 0 ;
}
.li_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 160px;
}
.select_1,.select_2 {
  width: 50%;
}
.menu_list > li{
  padding: 12px 0px 12px 24px;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.25);
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  text-align: left;
  color: #171717;
  height: auto;
  overflow-y: hidden;
  width: 464px;
}
.sub_menu_list{
  display: none;
  position: relative;
  left: 0;
  top: 0px;
  padding: 17px 12px 16px 0;
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
}
.sub_menu_list.open{
  display: block;
}
.arrow {
position: absolute;
right: 20px;
top: 20px;
cursor: pointer;
}
.arrow_1{
  top: 40px;
}
.arrow.active,.arrow_1.active {
transform: rotate(90deg);
transition: 0.3s all linear;
}
.show_more{
  display: none;
}
.select_2{
  display: block;
}
.menu li {
  position: relative; 
}
/* Questions end */
/* Footer start */
.footer {
    height: 1080px;
    background: #171717;
    color: white;
    position: relative;
  }
  .footer_ellipse {
    position: absolute;
    display: block;
  }
  .footer_ellipse-1 {
    top: 70px;
    left: 330px;
    z-index: 5;
  }
  .footer_ellipse-2 {
    bottom: 355px;
    left: 250px;
  }
  .footer_ellipse-3 {
    top: 30px;
    right: 210px;
  }
  .footer_ellipse-4 {
    bottom: 560px;
    right: 285px;
    z-index: 5;
  }
  .footer_wrapper {
    max-width: 954px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 166px;
  }
  .footer_contacts {
    position: relative;
    z-index: 2;
    background: #171717;
  }
  .contacts_form {
    display: flex;
    border: 1px solid #ff005c;
    box-shadow: 0px 0px 21px 2px #ff005c;
    height: 476px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    background-color: black;
  }
  .form_desc {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
  }
  .form_desc p {
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff7a;
  }
  .form_desc p:first-child {
    margin-bottom: 4px;
  }
  .form_desc_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 163px;
    margin-bottom: 24px;
  }
  .search_form_field {
    border: 0;
    background: #000;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    width: 302px;
    margin-right: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.48);
    padding-bottom: 16px;
    margin-bottom: 40px;
  }
  input:focus {
    outline: none;
    background: #000;
  }
  .submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 56px;
    width: 176px;
    background-color: #000;
    border: 2px solid #ff005c;
    border-radius: 53px;
    color: #ff005c;
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    font-family: "Montserrat";
    cursor: pointer;
  }
  .contacts_nav_wrapp {
    display: flex;
    justify-content: space-between;
  }
  .footer_social_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .contacts_nav_serv ul li,
  .contacts_nav_soc ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 16px;
  }
  .contacts_nav ul li,
  .contacts_nav_serv ul li:first-child {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .footer_social_wrap {
    display: flex;
  }
  .contacts_nav_wrapp a {
    text-decoration: none;
    color: white;
  }
  .contacts_nav_soc_mob {
    display: none;
  }
  .social_item a img {
    padding: 7px;
  }
  /* Footer end */
  /* Media */
  @media screen and (max-width: 1280px) {
    .seo_intro_info {
      position: relative;
      width: auto;
    }
    .prom_slide_card {
      padding: 40px;
      padding-bottom: 40px;
    }
    .prom_slide_card h3 {
      padding-top: 0px;
    }
    .tarif_wrap {
      padding: 0 12px;
    }
    .tarif_card {
      flex-wrap: nowrap;
      height: auto;
      justify-content: space-between;
    }
    .tarif_button {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .footer_ellipse-4 {
      display: none;
    }
    .footer_ellipse-1 {
      z-index: 0;
    }
  }
  @media screen and (max-width: 1160px) {
    .li_container {
      flex-direction: column;
      align-items: center;
    }
    .quest_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 1055px) {
    .header {
      padding-top: 40px;
    }
    .header__burger {
      display: block;
      cursor: pointer;
    }
    .header_soc {
      display: block;
      position: fixed;
      bottom: 200px;
      left: 25%;
    }
    .header__nav-close {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 40px;
      left: 20px;
      z-index: 11;
      cursor: pointer;
    }
    .header_list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      flex-direction: column;
      align-content: center;
      gap: 64px;
    }
    .header_item a {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
    }
    .header_item {
      margin-right: 0;
      text-align: center;
    }
    .header_nav {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      z-index: 10;
      padding-top: 200px;
      transform: translateX(100%);
      transition: 0.2s all linear;
    }
    .header__nav_active {
      transform: translateX(0);
    }
    .header__nav-close {
      display: block;
    }
    .header_phone {
      display: none;
    }
    .header_phone_ico {
      display: block;
    }
    .logo_desc {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .header_logo img {
      width: 28px;
    }
    .header_wrapper::after {
      display: none;
    }
    /* __________________________________________________________________ */
    .promotion {
      height: 100%;
      padding-bottom: 20px;
    }
    .prom_card_wrap {
      display: block;
    }
    .promotion_wrap {
      padding: 343px 15px 0 15px;
    }
    .slide_card_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .prom_slide_card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .prom_slide_wrap {
      height: auto;
    }
    .prom_exam {
      height: auto;
    }
    .seo_services {
      height: 100%;
    }
    .seo_services_wrapper {
      padding-bottom: 120px;
    }
    .seo_services_card {
      align-content: center;
      padding-bottom: 12px;
    }
    .seo_services_cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
    }
    .services_card-img{
      display: none;
    }
    .footer_ellipse-1 {
      display: none;
    }
    .tarif {
      padding-bottom: 20px;
      height: 100%;
    }
    .prom_slide_wrap {
      width: auto;
    }
    .prom_card_h2 {
      width: auto;
    }
    .seo_intro_card h3 {
      width: auto;
    }
  }
  @media screen and (max-width: 640px) {

    
  /* -------------------------------------------------------------- */
  .footer {
    height: 100%;
  }
  .footer_wrapper {
    padding: 80px 12px 40px 12px;
  }
  .form_desc p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
  }
  .form_desc {
    margin-top: 40px;
    margin-bottom: 58px;
  }
  .contacts_form {
    padding-bottom: 40px;
  }
  .search_form_field {
    width: 244px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: white;
  }
  .form_desc_inputs {
    margin-left: 30px;
    justify-content: center;
  }
  .submit_button {
    height: 56px;
    width: 300px;
  }
  .contacts_nav_soc {
    display: none;
  }
  .contacts_nav_soc_mob {
    display: block;
    text-align: center;
    margin-bottom: 80px;
  }
  .footer_social_wrap {
    display: block;
  }
  .contacts_nav_soc_mob nav ul li {
    padding: 10px;
  }
  .contacts_nav_serv ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
  }
  .contacts_nav ul li,
  .contacts_nav_serv ul li:first-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
  }
  .footer_ellipse-1 {
    width: 146px;
    top: 550px;
    z-index: 10;
    left: 285px;
  }
  .footer_ellipse-3 {
    display: none;
  }
  .footer_ellipse-4 {
    width: 146px;
    top: 30px;
    left: -50px;
  }
  .footer_ellipse-2 {
    bottom: 500px;
    left: 210px;
    z-index: 3;
    width: 196px;
    display: none;
  }
  .form_desc_inputs {
    padding-top: 0px;
  }
  .search_form_field {
    margin-bottom: 40px;
    padding-bottom: 16px;
  }
}