.Fifth_question {
    height:auto;
    background-color: #DFDFDF;
    padding: 120px 0 140px 0px;
}
  .Fifrh_questwrapper{
    max-width: 952px;
    margin: 0 auto;
    height: auto;
   }

   .Fifrh_questwrapper h1{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color:#FF005C;
   }

   .Fifrh_questwrapper p{
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0.02em;
    margin-top: 16px;
   }

   .li_container{
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 33px;
   margin-top: 40px;
   
}
.select_1,.select_2{
   width: 50%;
}

.menu li{
   position: relative;
   
}

.menu{
    width: 100%;
}
.menu_list > li {
    padding: 12px 0px 12px 24px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(68 68 68 / 25%);
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    text-align: left;
    color: #171717;
    height: auto;
    overflow-y: hidden;
   

}

.sub_menu_list{
   display: none;
   position: relative;
   left: 0;
   top: 0px;
   padding: 20px 20px 40px 0px ;
}


.sub_menu_list > li{
    font-size: 16px;
    line-height: 165%;
    text-align: left;
    color: #171717;
}


.sub_menu_list.open{
   display: block;
} 
/* .menu_list > li:hover .sub_menu_list{
   display: block;

} */

.arrow {
 position: absolute; 
 right: 20px;
 top: 15px;
 cursor: pointer;
}

.arrow_1{
   top: 40px;
}

.arrow.active,.arrow_1.active {
transform: rotate(90deg);
}


@media screen and (max-width: 768px) { 

    .Fifth_question {
        height:auto;
        padding: 80px 0 60px 0px;
    }
  
      .Fifrh_questwrapper {
        padding: 0px 12px 0px 12px;
      }
  

      .Fifrh_questwrapper h1,.Fifrh_questwrapper p {
        font-size: 16px;
        
       }
       .li_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    } 
    .select_1,.select_2{
        width: 100%;
    }
     
    .menu_list > li,.sub_menu_list > li{
        font-size: 16px;
       
    }
    
    .arrow img{
        width: 20px;
    }
    .arrow{
        right: 10px;
    }

   
}


@media screen and (min-width: 769px) and (max-width: 1200px){

    .Fifth_question {
        height:auto;
        padding: 80px 0 60px 0px;
    }
  
      .Fifrh_questwrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 0px 12px 0px 12px;
      }
  

      .Fifrh_questwrapper h1,.Fifrh_questwrapper p {
        font-size: 16px;
        
       }
       .li_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    } 
    .select_1,.select_2{
        width: 100%;
    }
     
    .menu_list > li,.sub_menu_list > li{
        font-size: 16px;
       
    }
    
    .arrow img{
        width: 20px;
    }
    .arrow{
        right: 10px;
    }





}